.comment_detail
{
	width: 785px;
	clear:both;
}
.comment_detail ul
{
	width: 360px;
	list-style: none;
	padding: 5px;
	float: left;
	
}
.comment_detail ul li
{
	line-height: 30px;
	font-size: 0.9em;

}
.comment_detail ul li span:first-child
{
	font-weight: bold;
	margin-right: 5px;
	clear:both;

}

#map_container
{
	width: 400px;
	height:190px;
	margin-top: 15px;	
	padding: 5px;
	background: #FFFFFF;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.8);
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.8);
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.8);
	-o-box-shadow: 1px 1px 6px rgba(0,0,0,0.8);
	float:right;
	
}
.user-comment-list
{
	width: 785px;
}

textarea
{
	border: 1px solid #ccc;
	width: 775px;
	padding: 5px;
}
textarea:hover,textarea:focus
{
	
	box-shadow: 1px 1px 8px rgba(39,192,112,0.6);
	-moz-box-shadow: 1px 1px 6px rgba(39,192,112,0.6);
	-webkit-box-shadow: 1px 1px 6px rgba(39,192,112,0.6);
	-o-box-shadow: 1px 1px 6px rgba(39,192,112,0.6);

}

input[type=submit]
{
	width: 100px;
	height: 40px;
	border-width:1px;
	border-style:solid;
	background-color: rgb(0, 163, 95) !important;
	background-repeat: repeat-x;
	background-image: linear-gradient(rgb(0, 214, 124), rgb(0, 163, 95));
	border-color: rgb(0, 163, 95) rgb(0, 163, 95) rgb(0, 150, 87);
	color: #FFFFFF !important;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.16);
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	margin-top: 10px;
	cursor: pointer;

}
input[type=submit]:focus,input[type=submit]:hover
{
	
	background: #02BD70;
}
form
{
	margin-bottom: 20px;
}

.summary
{
	line-height: 20px;
	font-size: 12px;
	color: #9c9c9c;
}
.list-view .empty
{
	font-size: 12px;
	padding-left: 10px;
	color: #9c9c9c;
}