.restaurant-profile{
	float: left;
	/*position: relative;*/
	margin-top: 4px;
	width: 10%;
	height: 50px;
}

.restaurant-detail{	
	width: 95%;		
	float:left;
	/*border-left:2px solid #A65900;*/
	padding-left:5px; 
	margin-left: 5px;
}

/*
*将summaryText输出的内容隐藏
*/
.list-view .summary
{
	display: none;
}


div.view-item
{
	width: 100%;
	padding: 5px;
	margin: 5px 0px 5px 0px;	
	display: inline-block;
	vertical-align: top;
	/*border-bottom:1px inset #999; */

	
}

/*排名*/
div.view-item .ranking
{
	color:#555;
	font-size: 1.0em;
	font-family: Arial;	
	float:left;	
	margin:0px 5px 0px 0px;

	
	
}

/*div.view-item:hover,div.view-item:focus
{
	box-shadow: 2px 3px 5px rgba(0,0,0,0.6);
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,0.6);
	-o-box-shadow: 2px 3px 5px rgba(0,0,0,0.6);
}*/

div.view-item .restaurant-detail ul
{
	list-style: none;
	
	
}
div.view-item .restaurant-detail>ul
{
	width: 700px;
}

div.view-item .restaurant-detail>ul li ul
{
	width: 255px; 
	float: left;
}
div.view-item .restaurant-detail>ul li ul li
{
	width: 100%; 
}

div.view-item .restaurant-detail>ul li ul li:first-child
{

	/*border-top:1px solid #555;
	border-bottom:1px solid #555;
	*/
}
div.view-item .restaurant-detail>ul li ul li span.title
{
	font-weight: 500;
}
div.view-item .restaurant-detail>ul li ul li strong
{
	font-size: 1.0em;	
	margin-right: 10px;

}

div.view-item .restaurant-detail>ul li ul li strong a
{
	color:#555;
	text-decoration:none;
}

div.view-item .restaurant-detail>ul li ul li strong a:hover,div.view-item .restaurant-detail>ul li ul li strong a:focus
{
	color:#000;
}

div.view-item .restaurant-detail>ul li ul+ul
{
	margin-top:20px;
	float: right;
	width: 100px; 
	font-size: 12px;

}

div.view-item .restaurant-detail>ul li ul+ul li strong
{
	margin: 0;
	padding: 0;
	color:#555;
}




.content-title
{
	font-size:1.1em;
	text-align:left;
	border-bottom:1px solid rgb(204, 204, 204);
	display:block;
	margin:10px 0px;	
	color: rgb(34, 34, 34);
	font-weight:bold;
	line-height: 30px;
	/*background-image: url(../images/icon/logo-tang_32.png);*/
	background-repeat: no-repeat;
	background-position: left top;
	padding-left:5px;
}


