/*
 *分页控件的样式
 */
 .tang-pager
 {
 	font-family: Arial;
 }
ul.yiiPager 
{
	display: inline-block;
	margin: 0px 0px 0px 10px;
    padding: 0 3px;
    line-height: 100%;    
    list-style: none;
    height: 25px;
    line-height: 25px;
   	/* font-size: 11px;
    border: 1px solid #9d9d9d;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;*/
}
ul.yiiPager li
{
	float: left;
	font-size: 13px;
	text-align: center;
	line-height: 25px;
	min-width: 25px;
	height: 100%;	
	margin:0 2px;
	padding:0px 2px;
	border: 1px solid #9d9d9d;
}
/*ul.yiiPager li:first-child
{
	text-align: center;
	padding: 0px 5px;
	border-right: 1px solid #9d9d9d;
}
ul.yiiPager li:first-child,ul.yiiPager li:first-child+li
{
	
	border-left:0px none;
	
}
*/
ul.yiiPager li:hover,ul.yiiPager li:focus
{
	background:#ccc;
}

ul.yiiPager li a
{

	color: #666;
	display:block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.page.selected
{
	background:#9c9c9c;

}
.page.selected a
{
	color: #FFFFFF;
}

.first.hidden
{
	display: none;
}
.last
{
	display: none;
}
