*{
	margin: 0;
	padding: 0;
}
a img
{
	border:0 none;
}
a
{
	text-decoration: none!important;
}
body
{
	margin: 0;
	padding: 0;
	font-family:微软雅黑;
	_background: #F5F3EF;
	background: radial-gradient(ellipse at center, #ffffff 0%,#F5F3EF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F5F3EF',GradientType=1 );
}

#page
{
	margin-top: 0;
	margin-bottom: 5px;	
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
	display:block;
	height: 40px;
}

.column-main-form
{
	position: relative;
}

.column-main-form input
{
	-webkit-border-radius:10px;
	-ms-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	border:1px solid #999;
	width: 100px;
	height: 22px;
	line-height: 14px;
	overflow: hidden;
	padding:2px 2px 2px 25px; 
	outline:0px;
	-webkit-transition: width 150ms ease-in-out;
	-moz-transition: width 150ms ease-in-out;
	transition: width 150ms ease-in-out;
}

.column-main-form input:focus
{
	width: 130px;
	border-color: #8F8275;
	box-shadow: 0px 0px 2px #8F8275;
}

.column-main-form .fa-search
{
	position: absolute;
	top: 20px;
	left: 8px;
	font-weight: normal;
	color: #999;/*#aa2105;*/
}

#tang-content.tang-content
{
	width:960px;
	min-height: 600px;
	margin:0 auto;
	font-family:微软雅黑;
	padding:0px 10px;
}

#footer
{ 
	display:block;
	padding: 15px 0px;
	margin: 10px 0px 0px 0px;	
	width: 100%;
	font-size: 1em;
	text-align: center;		
	color: #999;
	border-top:1px solid rgba(218, 214, 208, 1);
}

#footer .dot 
{
	padding: 0 3px;
	color: #999;
	display: inline-block;
	font-family: Arial;
}
#footer a
{
	font-size: 14px;
	color:#999!important;
}


#logo
{
	padding: 10px 20px;
	font-size: 200%;

}
.list-footer-load
{
	text-align:center;
}
.list-footer-load>span
{
	display: none;
}

#mainmenu
{
	background:#e9e4df;
	height:55px;
	line-height:55px;
	font-family:微软雅黑;
}

#mainmenu .login
{
	font-size: 14px;
	color: #aa2105;
	text-decoration: none;	
	line-height: 55px;
}
#mainmenu .loginuser
{
	color: #aa2105;
	text-decoration: none;
	display: block;
	padding: 5px 0px;	
}
#mainmenu .loginuser img
{
	width: 30px;
	height: 30px;
	margin-left: 5px;
	border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;	
	vertical-align: inherit!important;
	
}
#mainmenu .loginuser:hover img
{
	-moz-box-shadow: 0px 1px 7px rgba(0,0,0,0.8);
	--webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.8);
	-ms-box-shadow: 0px 1px 7px rgba(0,0,0,0.8);
	-o-box-shadow: 0px 1px 7px rgba(0,0,0,0.8);
	box-shadow: 0px 1px 7px rgba(0,0,0,0.8);

}
#mainmenu .loginuser:hover span
{
	border-top-color: #666;
}

#mainmenu .user-panel
{
	width: 70px;
	font-size: 12px;
	position: relative;
	z-index: 100;
	display:block;
	left:20px;
	margin-top: 5px;
}

#mainmenu .user-panel:hover
{
	background: #FFFFFF;
	border-radius: 5px 0px 5px 0px;
	box-shadow: 1px 3px 6px #cccc99;
}

#mainmenu .user-panel:hover ul
{
	display: block;
}

#mainmenu .user-panel ul
{
	display: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style: none;
}
#mainmenu .user-panel ul li
{
	height: 25px;
	line-height: 25px;
	padding: 0px 5px;
	border-bottom: 1px dotted #ddd;
}
#mainmenu .user-panel ul li:first-child
{
	border-top: 1px dotted #ddd;
}
#mainmenu .user-panel ul li:last-child
{
	border-bottom: 0px none;
}

#mainmenu .user-panel ul li a
{
	color: #666;
	text-decoration: none;
}
#mainmenu .user-panel  a.logout
{
	

}
#mainmenu .user-panel .icon-caret-down
{
	width: 0px;
	height: 0px!important;
	border-color: transparent;
	border-width:5px;
	border-bottom-width: 0px;
	border-top-color:rgba(128,97,69,0.8);
	border-style: solid; 
	margin-left: 3px;
	margin-top:3px;
}
#mainmenu .user-panel:hover .icon-caret-down
{
	width: 0px;
	height: 0px!important;
	border-color: transparent;
	border-width:5px;
	border-top-width: 0px;
	border-bottom-color:rgba(128,97,69,0.8);
	border-style: solid;
	margin-left: 3px;
	position: relative;
	top: -20px;
}


#mainmenu .mainmenu-content
{
	width: 960px;
	height: 100%;
	margin:0 auto;
	display: block;
	position: relative;
	left: 0;
	
}
#mainmenu .rigth-menu
{
	width: auto;
	float: right;
	height: 100%;
	line-height: 100%;
	margin-right:1%;
}

#mainmenu .mainmenu-content>ul
{	
	width:auto;
	list-style:none;
	float: left;
}

#mainmenu .mainmenu-content>ul>li
{
	float:left;
	list-style:none;
}
#mainmenu .mainmenu-content .mainmenu-home
{
	font-size: 0px;
	display: block;
	float: left;
	margin-top: 5px;
}

#mainmenu .mainmenu-content>ul>li>a
{
	color:#aa2105;
	background-color:transparent;
	font-size:15px;	
	text-decoration:none;
	padding:5px 8px;
	margin:0px 2px;
}

#mainmenu .mainmenu-content>ul>li a:hover, #mainmenu .mainmenu-content>ul>li.active a
{
	cursor: pointer;
	background-color:#AA2104;
	color: #FFFFFF;
	text-decoration:none;
	border-radius: 10px;
}

#county-menu>ul>li.active a,#area-menu>ul>li.active a
{
	cursor: pointer;
	color: #aa2105;
	text-decoration:none!important;
}

li.areamenu ul
{
	min-height: 100px;
	width: 100px;	
	list-style:none;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	position: absolute;
	z-index: 500;
	padding: 10px 0px 0px 0px;
	display: none;

}

li.areamenu ul li
{
	height: 30px;
	line-height: 30px;
	padding: 0px;
}

li.areamenu ul li a
{
	display: block;
	color: #555;
	padding-left:10px;
	text-decoration: none;
}

.county-menu-title 
{
	text-align:left;	
	margin-top:10px;
	color: rgb(34, 34, 34);
	padding-left:5px;
	border:1px solid transparent;
	height: 30px;
}
.county-menu-title>span
{
	font-weight:bold;
	font-size:1.1em;
}

/*区域-----------------------------start*/

#area-menu,#county-menu
{
	padding-left: 10px;
	display: inline-block;
}

#area-menu li,#county-menu li
{
	display: inline-block;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-right:10px;
}
#area-menu li:hover,#area-menu li:focus,#county-menu li:hover,#county-menu li:focus
{
	box-shadow:3px 2px 5px rgba(143, 130, 117,.6);
	-moz-box-shadow:3px 2px 5px  rgba(143, 130, 117,.6);
	-webkit-box-shadow:3px 2px 5px rgba(143, 130, 117,.6);
	-o-box-shadow:3px 2px 5px  rgba(143, 130, 117,.6);
	background: #AA2104;
	border-radius: 10px;
}

#county-menu li a, #area-menu li a
{
	padding: 5px;	
	text-decoration: none;
	color:#666;/*FFFFFF*/
}

.area-menu a.active,.county-menu a.active{
	box-shadow:3px 2px 5px rgba(143, 130, 117,.6);
	-moz-box-shadow:3px 2px 5px  rgba(143, 130, 117,.6);
	-webkit-box-shadow:3px 2px 5px rgba(143, 130, 117,.6);
	-o-box-shadow:3px 2px 5px  rgba(143, 130, 117,.6);
	background: #AA2104;
}

#county-menu li a:hover,#county-menu li a:focus, #area-menu li a:hover,#area-menu li a:focus
{
	color:#FFFFFF!important;
}

/*区域-----------------------------end*/

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

body, input, textarea, select, button 
{
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
	line-height: 1.7;
	font-size: 14px;
	color: #222;
}

.feed-item 
{
	padding: 10px 0;
	position: relative;
	margin-left: 0;
	outline: 0;
}

.feed-item+.feed-item, .feed-separator+.feed-item 
{
	border-top: 1px solid #eee;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(238, 238, 238);
}

.feed-item .avatar, .feed-item .avatar a, .feed-item .avatar img 
{
	display: block;
	width: 38px;
	height: 38px;
}

.feed-item .avatar img 
{
	border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	margin: 0px;
	padding: 0px;
}

.feed-item .avatar 
{
	float:left;
}

.feed-main 
{
	margin-left: 48px;
}

.feed-item .source 
{
	color: #999;
}

.feed-item .content 
{
	font-size: 13px;
}

.feed-item .time 
{
	display: inline-block;
	font-size: 12px;
	color: #999;
}

.logo 
{
	float:left;
	padding-left:10px;
	font-size: 25px	;
	line-height:40px;	
}

/*************梁波 cssStyle******************************/
.display-none
{
	display: none;
}
.floatleft
{
	float:left;
}
.floatright
{
	float:right;
}
.displayblock
{
	display:block;

}
.clear
{
	width: 0px;
	height: 0px;
	clear: both;
}

.modal-backdrop1
{
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1040;
	background-color: rgb(0, 0, 0);
	opacity: 0.7;
	display: none;
}


.modal1 
{
	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 1050;
	width: 500px;
	margin-left: -280px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	-o-border-radius: 6px 6px 6px 6px;
	outline: medium none;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
	background-clip: padding-box;
}
/*.fade 
{
opacity: 0;
transition: opacity 0.15s linear 0s;
}*/

.modal1.fade.in 
{
	top: 10%;display: none;
}

/*.modal1.fade {
top: -25%;
transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
}
.fade.in {
opacity: 1;
}*/
.hide 
{
	display: none;
}
.hide-visibility
{
	visibility: hidden;
}

.modal-header 
{
	padding: 5px 15px;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.modal-header .close 
{
	margin-top: 2px;
	padding: 0px;
	cursor: pointer;
	background: none repeat scroll 0% 0% transparent;
	border: 0px none;
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: rgb(0, 0, 0);
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
	opacity: 0.2;
}

.modal-header .close:hover
{
	opacity: 0.5;
}

.modal-header h3 
{
	margin: 0px;
	line-height: 25px;
	font-size: 1.3em;
	color:#555;
}

.modal-body 
{
	position: relative;
	max-height: 400px;
	min-height: 50px;
	padding: 15px;

}
#myModal .modal-body
{
	padding: 15px!important;
}
.modal-body a
{
	display: block;
	text-decoration: none;
	padding-left:30px;
	line-height: 30px;

}
.modal-body a.icon-sina-logo
{
	background: url(../images/icon/sina_weibo_24.png) no-repeat top left;


}

.modal-body a span
{
	visibility:visible;
}

.modal-body a.qq-login
{
	background: url(../images/icon/qq_24.png) no-repeat top left;

}

/****************评分组件************************/
div.rating-widget
{
	float:left;

}
.rating-widget .rating-count-p
{
	display: inline-block;
	font-size: 10px;
	color: #888;
}
.rating-widget .rating-widget-lable
{

	color:#555;
}
.rating-widget .rating-list
{
	display: inline-block;	
	line-height: 13px;
	height: 13px;
	width: 150px;
	font-size: 11px;
}
.rating-widget .rating-list.m
{
	color:rgb(165, 134, 0);
}


.rating-widget .rating-list.m:hover
{
	color:#555;
}
.rating-widget .rating-list.n
{
	color:#5F6699;
}
.rating-widget .rating-list.n:hover
{
	color:#000;
}

.rating-list .rating-stars
{

}

.rating-icon
{
	background-image: url(../images/icon/sprite.png);
	background-repeat: no-repeat;
}

.rating-list .rating-stars a,.rating-confirm a
{

	width: 14px;	
	height:12px;
	display:block;
	float:left;			
	margin: 0px;

}

/*.rating-list .rating-stars .star-on,*/
.rating-icon.star-on
{
	background-position: 0px -27px;
}
.rating-list .rating-stars a span
{
	visibility: hidden;
}

.rating-list .rating-rating
{
	width:50px;
	display: inline-block;
	text-align: right;
	font-weight: bold;
	font-size: 11px;	
	margin:0;
	padding: 0;
}
.rating-list .rating-rating .grey
{
	font-weight: normal;
	color: rgb(204, 204, 204);

}

/*.rating-list .rating-hover*/
.rating-icon.rating-hover
{
	background-position: 0px -69px;
	cursor: pointer;

}

/*.rating-list .rating-off*/
.rating-icon.rating-off
{
	background-position: 0px -55px;
}
/*.rating-list .rating-init*/
.rating-icon.rating-init
{
	background-position: 0px -41px;
}

.rating-list .rating-cancel
{
	width: 14px;
	height: 13px;	
	display: none;
	font-size: 11px;
	margin:0;

}

/*.rating-list .rating-your*/
.rating-icon.rating-your
{
	background-position: 0px 0px;
	display: inline-block;
}

/*.rating-list .rating-your:hover*/
.rating-icon.rating-your:hover
{
	background-position:0px -13px;
	cursor: pointer;

}

.rating-list .rating-cancel a span
{
	visibility:hidden;
}

.rating-list .rating-pending
{
	background: url(../images/spinner.gif);
	background-repeat: no-repeat;
	display: inline-block;
}

.fontsize-0-8em
{
	font-size:.8em;	

}
.fonttext-shadow-2-3-5-000
{

	text-shadow: 2px 3px 5px rgba(0,0,0,0.6);
	-moz-text-shadow: 2px 3px 5px rgba(0,0,0,0.6);
	-webkit-text-shadow: 2px 3px 5px rgba(0,0,0,0.6);
	-o-text-shadow: 2px 3px 5px rgba(0,0,0,0.6);

}


/*
 *总平均分的显示组件
 */
 .rating-widget-avg
 {
 	display: inline-block;
 	width: 130px;
 	line-height: 20px;
 	vertical-align: middle;

 }
 .rating-widget-avg div
 {
 	width: 70px;
 	float: left;
 	margin-top: 3px;	
 }
 .rating-widget-avg a
 {
 	display: inline-block;
 	width: 14px;
 	height: 12px;
 	cursor: default!important;
 }
.rating-icon.rating-avg-init
{

 	background-position: 0px -41px;
}
 .rating-icon.star-avg-on
{
	background-position: 0px -27px;
}


 .rating-avg 
 {
 	font-size: 11px;
 	display: inline-block;
 	width: 30px;
 	color: rgb(165, 134, 0);
 	font-family: tahoma;	
 	text-align: left;
 	margin-left: 24px;
 }
 .tang-tooltip
 {
 	width: auto;
 	height: 25px;
 	padding: 0px 10px;
 	background: rgba(128,97,69,0.8);	
 	position: absolute;
 	border-radius: 5px;
 	-moz-border-radius: 5px;
 	-webkit-border-radius: 5px;
 	-o-border-radius: 5px;
 	color: #ffffff;
 	line-height: 25px;
 	display: none;
 	font-size: 0.9em;
 	z-index: 9999;
 }
 .tang-tooltip .title
 {
 	width: 0px;
 	height: 0px;
 	border-color: transparent;
 	border-width:5px;
 	border-top-width: 0px;
 	border-bottom-color: rgba(128,97,69,0.8); 	
 	display: block;
 	border-style: solid;
 	position: absolute;
 	top:-5px;
 	left: 50%;
 	margin-left: -5px;
 }

 .tang-tooltip .bottomtitle
 {
 	width: 0px;
 	height: 0px;
 	border-color: transparent;
 	border-width:5px;
 	border-bottom-width: 0px;
 	border-top-color:rgba(128,97,69,0.8);
 	display: block;
 	border-style: solid;
 	position: absolute;
 	top:25px;
 	left: 50%;
 	margin-left: -5px;
 }

 .tang-tooltip .lefttitle
 {
 	width: 0px;
 	height: 0px;
 	border-color: transparent;
 	border-width:5px;
 	border-left-width: 0px;
 	border-right-color: rgba(128,97,69,0.8); 	
 	display: block;
 	border-style: solid;
 	position: absolute;
 	top:50%;
 	left: -5px;
 	margin-top: -5px;
 }

 #right_float_panel
 {
 	font-size: 40px;
 	height: auto; 
 	display: none;
 	position:fixed;
 	z-index: 9999;
 	left: 95%; 
 	top: 80%; 
 	border-radius:50%;
 }
 #right_float_panel .top_up
 {
 	color:#e9e4df;
 }
 #right_float_panel .top_up:hover
 {
 	color: rgb(159, 46, 24);
 }

 /****************评分组件***end*********************/

 /************汤馆特色*********************/
 .feature
 {
 	margin:0px 3px 0px 0px;
 	padding:0px 5px;
 	text-align: center;
 	border-radius:10px;
	font-size: 12px;
	white-space: nowrap;	
	color:#555;
}

/*******添加汤馆*******/

.aligin-c
{
	text-align: center;
}
a.a-text-none
{
	font-size: 30px;
}
.modal-body{
	padding:5px!important;
}

/*********警告提示模态窗口**********/
.alertModal-dialog
{
	width: 300px;
	position: fixed;
	background-color: #FFFFFF;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	background-clip: padding-box;
	left:39%;
	top: 30%;
	z-index: 1045;
	display: none;
}
.alertModal-header
{
	border-bottom: 1px solid #e5e5e5;
	padding:0px 10px;
}
.alertModal-header .alertModal-title
{

}
.alertModal-footer
{
	border-top: 1px solid #e5e5e5;
	padding:10px 10px;
	text-align: center;
}
.alertModal-content {
	background: #FFFFFF;
	position: relative;
}
.alertModal-body
{
	padding: 10px;
	min-height: 40px;
}

/*****警告页样式********/
.g-alert
{
	padding: 10px;
	margin:40px auto;
	width: 500px;
	min-height: 100px;
	vertical-align: baseline;
	border:none;
	background-color:rgba(234,112,84,.9);
	opacity: 0.7;
	border-radius: 6px;
	position: relative;
}
.g-alert .fa-bullhorn
{
	font-size: 40px;
	float: left;

}
.g-alert .alertmsg
{
	width: 87%;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	display: block;
	float:right;
}
.g-alert #time
{
	display: inline-block;
	width: 20px;
	margin-left: 65px;
}

.rating-confirm span
{
	float:left;
}
.rating-confirm
{
	line-height: 13px;
	margin-bottom: 15px;
}
.rating-confirm .rating-value
{
	font-size: 11px;
	color: rgb(165, 134, 0);
	font-family: tahoma;
	margin-left: 15px;
}
.rating-confirm .title
{
	color:#666;
}
.value-desc
{
	color:#666;
	margin-left:10px;
}

.btn-red
{
	background: rgba(159, 46, 24,0.9);
	border:1px solid rgb(153,34,17);
	color:#FFFFFF!important;
}
.btn-red:hover
{
	background: rgb(178, 68, 34);

}
#alertModalClose
{
	display: none;
}
.btn-loading
{
	color:#ccc;
	margin-left:10px;
}
/*******form******/
/*a  upload */
.a-upload {
	/*padding: 4px 10px;
	height: 30px;
	line-height: 20px;
	background: #fafafa;
	border: 1px solid #ddd;
	*/
	margin-left:5px;
	float:left;
	position: relative;
	cursor: pointer;
	color: #9c9c9c;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-weight: bold;
	width: 50px;
	height: 50px;
	border:2px dashed #999;
	text-align: center;
	padding-top: 10px;
	font-size: 2em;
}
 
.a-upload  input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}
 
.a-upload:hover {
	color: #888;
	border-color:#888;
	text-decoration: none
}

.upload-image
{
	float:left;
	*display: inline;
}

.errorMessage
{
	color:#a94442;
	margin:5px 0px 0px 5px;
}

.user-header
{
	color:#888;
	text-align: left;
	clear:both;
	margin-bottom: 0px!important;
	padding: 10px!important;
}
.big-fontcss
{
	font-size:18px;
	margin:0px 2px!important;
}

#clientImg>div>span
{
	display: block;
	margin-top: 5px;
}

#checkbox_type label
{
	margin-right: 10px!important;
	font-weight: normal;
}


/**** 分享组件样式 *****/
.fenxiang
{
	width: auto;
	float:left;
	margin-left:30px;
	display: none;
	font-size: 12px;
}
.fenxiang .sina
{
	color:#888;

}
.fenxiang .sina:hover
{
	color:#555;
}
.fontsize-14
{
	font-size: 14px!important;
}

/***汤馆详情公共样式***/
.restaurant_img
{
	float:left;
	margin:0px 10px;

}
.restaurant_img img
{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	box-shadow: 0px 0px 6px #ccc;
	width: 50px;
	height: 50px;
}
.restaurant_defalut_img
{
	font-size: 50px;
	float:left;
	color:#ccc;
	margin:0px 10px;
	margin-top:-21px!important;
}

/**个人中心**/
.error_403
{
	width: 100%;
	height: 500px;
}
.error_403 .error_403_text
{
	height: 100px;
	text-align: center;
	margin-top: 100px;
}
.error_403 .error_403_text i
{
	font-size: 30px;
}
.error_403 .error_403_text span
{
	font-size: 30px;
	margin:0px 10px;
}
.error_403_text>p
{
	color: #444;
}
.error_403_text>p+p
{
	color: #777;
	font-size: 20px;
}

/*汤馆的提示框的公共样式*/
.data-load-prompt
{	
	padding: 5px;
	border:1px solid rgba(170, 33, 5, 0.7);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 20px;
	box-shadow: 0px 0px 7px rgba(170, 33, 5, 0.9);
	background: rgba(170, 33, 5, 0.8);
	color: #FFF;
	position: fixed;
	top: 40%;
	left: 40%;
	display: none;
	z-index: 9999;
}
.data-load-prompt>div
{
	position: relative;
}
.data-load-prompt>div>span
{
	font-weight: bold;
	font-size: 1.2em;
}